/*******************************************************************************
wangbinweb Theme for GitHub Pages
by wangbin wbwuxi@gmail.com
*******************************************************************************/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#919191;
  background: #212121;
  width: 60%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a:link, a:visited, a:active {
    color: #921728;
}

a:hover {
    color: #666666;
}

nav {
    height: 20px;
    margin-top: 50px;
}

nav ul {
    margin-left: 0px;
    margin-top: 30px;
    font-size: 1.2em;
    color: #ffffff;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    vertical-align: top;
}

nav li {
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
}

nav a:link, nav a:active, nav a:visited, nav a:hover {
    color: #ffffff;
}

nav a:hover {
    color: #999999;
    text-decoration: none;
}
